.landing-page section {
  margin: 0px 120px;
  margin-top: 80px !important;
  letter-spacing: 0.2px;
  word-spacing: 0.5px;
}

.server-loading {
  position: fixed;
  flex-direction: column;
  top: 0;
  background-color: white;
  z-index: 1000;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.landing-content {
  display: grid;
  grid-template-columns: 40% 60%;
}

.landing-content .left-content {
  display: flex;
  flex-direction: column;
}

.landing-content .left-content h3 {
  font-size: 45px;
  color: #4e3366;
  font-weight: 700;
  margin-bottom: 10px;
}
.landing-content .left-content p {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.landing-content .left-content a {
  width: 120px;
  text-align: center;
  color: white;
  border: 1px solid #4e3366;
  transition: 0.3s;
}

.landing-content .left-content a:hover {
  color: #4e3366;
  background-color: white;
  border-color: #4e3366;
  scale: 1.02;
}

.landing-content .right-content {
  display: flex;
  justify-content: center;
}

.landing-content .right-content img {
  height: 550px;
}

.learn-more-btn {
  background-color: #4e3366;
}

/* about */
.about {
  /* display: grid;
    grid-template-columns: 35% 65%; */
  margin-top: 150px;
  margin-bottom: 100px;
  text-align: center;
  padding: 0px 35px;
}

.about .title {
  font-size: 35px;
  font-weight: 700;
  color: #4e3366;
  margin-bottom: 10px;
}
.about .title::after {
  content: "";
  width: 50px;
  height: 2px;
  background-color: #4e3366;
  display: block;
  margin: 20px auto;
  margin-bottom: 50px;
}

.about .description {
  font-size: 18px;
  color: gray;
  width: 70%;
  margin-bottom: 30px;
  margin: auto;
  margin-top: 30px;
}

/* working */

.working {
  padding: 50px 80px;
  text-align: center;
  color: white;
  background-color: #4e3366;
  margin: 0px !important;
}

.working h2::after {
  content: "";
  width: 50px;
  height: 2px;
  color: white;
  background-color: white;
  display: block;
  margin: 20px auto;
}

.working-steps {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  row-gap: 100px;
  margin: auto;
  margin-top: 100px;
}

/* features */
.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 50px;
  margin-top: 200px;
}

/* download */
.download {
  margin: 0px !important;
  padding: 50px 80px;
  text-align: center;
  background-color: #4e3366;
}

.landing-page .download {
  margin-top: 110px !important;
}

.download .title {
  font-size: 35px;
  font-weight: 700;
  color: white;
  margin-bottom: 80px;
}

.download .description {
  width: 50%;
  margin: auto;
  color: white;
  margin-bottom: 50px;
}

.download img {
  height: 50px;
}

/* testimonials */
.testimonials {
  /* margin-top: 200px; */
  /* padding: 50px 80px; */
  text-align: center;
  color: gray;
  /* height: 1020px; */
}

.landing-page .testimonials {
  margin: 50px 0px !important;
}

.testimonials img {
  height: 400px;
}

@media screen and (max-width: 1200px) {
  .working {
    padding: 50px 20px;
  }

  .landing-page section {
    margin: 0px 30px;
  }

  .download {
    padding: 50px 20px;
  }

  .download .description {
    width: 100%;
  }

  .landing-page section {
    margin: 0px 20px;
  }

  .download .title,
  .download .description {
    margin-bottom: 30px;
  }
  .testimonials img {
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .landing-content {
    display: flex;
    flex-direction: column;
  }

  .landing-content .left-content {
    text-align: center;
  }

  .landing-content .left-content h3 {
    font-size: 30px;
  }

  .landing-content .left-content p {
    font-size: 16px;
  }

  .landing-content .left-content a {
    width: 100px;
    margin: auto;
    margin-bottom: 50px;
  }

  .landing-content .right-content img {
    height: 400px;
  }

  .about {
    margin-top: 50px;
  }

  .about .description {
    width: 100%;
  }

  .working {
    padding: 50px 20px;
    margin-top: 50px;
  }

  .working-steps {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 50px;
    margin-top: 50px;
  }

  .features {
    margin-top: 50px;
  }

  .download {
    padding: 50px 20px;
    margin-top: 50px;
  }

  .download .description {
    width: 100%;
    font-size: 14px;
  }
  .testimonials img {
    height: 220px;
  }
  .landing-page .testimonials {
    margin: 30px 0px !important;
  }
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  h3 {
    font-size: 22px !important;
  }
  p {
    font-size: 14px !important;
  }
  a {
    font-size: 12px !important;
  }
  .testimonials img {
    height: 150px;
  }
  .landing-page .testimonials {
    margin: 20px 0px !important;
  }
  .working-steps {
    row-gap: 30px;
  }
}

@media screen and (max-width: 410px) {
  .testimonials img {
    height: 100px;
  }
  .landing-page .testimonials {
    margin: 10px 0px !important;
  }
}
