.our-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.team-member {
    width: 300px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.team-member h2 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #333;
}

.team-member p {
    font-size: 16px;
    color: #666;
}

.team-member a{
    margin: 0px 10px;
    color: blue;
}