.profile-container{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: center; */
    margin-top: 50px;
    margin: 50px 150px;
    height: 450px;
    gap: 30px;
}

.profile-container .left-section{
    width: 25%;
    min-width: 200px;
    display: flex;
    height: -webkit-fill-available;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #F9F9F9;
    border-radius: 10px;
}

.profile-container .left-section img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 30px;
    border: 1px solid black;
}

.profile-container .left-section h2{
    margin-top: 10px;
    color: #4E3366;
    font-weight: 700;
    font-size: 20px;
}

.profile-container .left-section p{
    margin-top: 5px;
    font-weight: 500;
    font-size: 10px;
}

.profile-container .left-section .upvote{
    margin-top: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.profile-container .left-section .upvote .upvoteIcon{
    font-size: 16px;
}

.profile-container .left-section .profile-views{
    font-size: 12px;
    margin-top: 5px;
}

.profile-container .right-section{
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-container .right-section .nav-items{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.profile-container .right-section .nav-items a{
    text-decoration: none;
    color: #4E3366;
    font-weight: 600;
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 24px;
    transition: 0.3s;
}

.profile-container .right-section .nav-items .selected{
    background-color: #4E3366;
    color: white;
}

/* content */

.profile-container .content{
    width: 100%;
    height: -webkit-fill-available;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #F9F9F9;
}

/* my profile */

.profile-container .content .profile{
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 20px;
    width: 400px;
}

.profile-container .content .profile p{
    display: flex;
    justify-content: space-between;
}