*{
    margin: 0;
    padding: 0;
    font-family: "Red Hat Display", sans-serif;
    color-scheme: light !important;
}

a{
    text-decoration: none;
    cursor: pointer;
}

button{
    cursor: pointer;
}

.btn{
    padding: 10px 20px;
}

input, select, textarea{
    border: none;
    outline: none;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 5px; /* Reduced width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: white; /* Background of the track */
    border-radius: 10px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
    background: #A587D3; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
    transition: background 0.3s ease-in; /* Smooth transition for background color */
}

::-webkit-scrollbar-thumb:hover {
    background: #4E3366; /* Color when hovering over the scrollbar thumb */
}
