.header {
  width: 100%;
  background-color: transparent;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: var(--header-height);
  padding: 10px 50px;
}

.nav__item a{
  color: black;
}

.nav__item.selected a {
  color: #4E3366;
  text-decoration: underline;
  font-weight: 700;
}

.nav__logo {
  color: var(--first-color);
  transition: color 0.4s;
  font-size: var(--h2-font-size);
  font-family: var(--second-font);
}

.nav__logo img {
  height: 60px;
}

.nav__toggle,
.nav__close {
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  list-style: none;
  align-items: center;
}

.nav__link{
  color: white;
  font-weight: var(--font-semi-bold);
  transition: color 0.4s;
}
.nav__cta {
  background-color: var(--first-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 0.75rem 1.5rem;
}

.nav__link.signup{
  background-color: #3A2645;
  color: white;
  border-radius: 24px;
}

.nav__link.signup:hover{
  background-color: #4E3366;
  color: white;
}

.userProfile .user-image{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.show-menu {
  right: 0;
}

.userProfile{
  position: relative;
}

.profile-menu{
  z-index: 99;
  list-style: none;
  display: none;
  position: absolute;
  background-color: #4E3366;
  padding: 10px 20px;
  right: 0;
  border-radius: 10px;
}
.profile-menu.show{
  display: block;
}
.profile-menu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 10px;
}
.profile-menu li:hover{
  background-color: #3A2645;
  transition: 0.3s;
}
.nav__item .profile-menu li a{
  font-weight: 500;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

@media screen and (max-width: 1150px) {
  .nav__menu {
    z-index: 9999;
    position: fixed;
    top: 0;
    right: -100%;
    background-color: hsla(0, 0%, 6%, 0.2);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    height: 100%;
    padding: 6rem 3rem 0;
    transition: right 0.4s;
  }
  .nav__menu.show-menu {
    right: 0 !important;
  }
}

@media screen and (min-width: 1150px) {
  .nav {
    height: calc(var(--header-height) + 1rem);
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 2.5rem;
  }
}
