.question-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 10px;
  border-radius: 24px;
  background-color: #F6F6F6;
}

.question-card .analysis {
  width: 70px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  flex-direction: column;
}

.question-card .analysis p {
  font-weight: 500;
  text-align: center;
  font-size: 12px;
}

.question-card img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.question-card .data-analysis {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.question-card .data-analysis span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-direction: column;
  font-weight: 500;
}

.question-card .details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  gap: 15px;
  width: 100%;
  padding: 0px 20px;
}

.question-card .details h3 {
  font-size: 20px;
  font-weight: 700;
  color: #4e3366;
}

.question-card .details p {
  font-size: 14px;
  font-weight: 500;
}

.question-card .line-limit-3{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
}

.question-card .details .bottom {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 10px;
}

.question-card .details .bottom p {
    font-size: 12px;
}

.question-card .details .tags {
  display: flex;
  gap: 10px;
}

.question-card .details .tags p {
  background-color: #efe5ff;
  color: #4e3366;
  padding: 5px 10px;
  border-radius: 24px;
  font-size: 12px;
}

.bottom .asked-by{
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
}


@media screen and (min-width: 320px) and (max-width: 480px){
  .question-card .details {
    gap: 5px;
    width: -webkit-fill-available;
    padding: 0px 15px;
  }
  .question-card .details .bottom{
    flex-direction: column;
    gap: 5px;
    align-items: end;
  }
  .question-card .details .tags p{
    padding: 2px 7px;
  }
}